.popup{
    position: fixed;
    top: 0;left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.popup-inner{
    overflow-y:scroll;
    position: relative;
    padding: 15px;
    max-height: 80vh;
    height: fit-content;
    width: 100%;
    max-width: 640px;
    background-color: white;
}
.popup-inner .close-btn{
    position: absolute;
    top:16px;
    right: 16px;
}