.footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #222222;
}
.App {
  text-align: center;
}

.poljeGumbova{
  display: flex;
  justify-content: space-between;
  max-width: 80%;
  margin: 0 auto;
  padding: 5.5% 0;
}
.korisnikId{
  margin-top: 100px;
  position:relative;
  right: 25%;
}
.vrijeme{
  margin-top: 50px;
  position:relative;
  right: 25%;
}
.vrijemeField{
  top: 45px;
  position:relative;
  right: 29%;
}
.searchBox{
  margin-top: 50px;
  position:relative;
  right: 25%;
}
.nazivi{
  position: fixed;
  left: 23%;
}
.kategorija{
  position: fixed;
  left: 38%;
}
.obrisi{
  position: fixed;
  left: 77%;
  padding-bottom: 10%;
}
.naziviTablica{
margin-bottom: 30px;
}
.listRight{
  
  text-align: right!important;
}
.cijenaa{
  position: fixed;
  left: 48.5%;
  padding-bottom: 10%;
}
.promijeni{
  position: fixed;
  left: 61%;
  padding-bottom: 10%;
}
.dodaj{
  margin-top: 10px;
  position: relative;
  right: 28%!important;
}
.korisnik{
  top: 95px;
  position:relative;
  right: 29%;
}
.naplati{
  margin-top: 0%;
  position: relative;
  top: 110%;
  right: 100%;
}


.zavrsi{
  margin-top: 0%;
  position: relative;
  top: 8%;
  right: -45%;
}
.otkazi{
  margin-top: 0%;
  position: relative;
  top: 8%;
  left: -45%;
}
.radio{
  z-index: 0;
  margin-top: 0%;
  position: relative;
  top: 104%;
  right: 230%;
}
.container{
  width: 600px;
  height: 620px;
  overflow-y: auto;
  padding: 20px;
  left: 25%;
}
.password{
  padding-top: 2%;
  left: 0%!important;
  margin-right: 3%;
}
.btn-dodajKorisnika{
  padding-top: 10%;
  margin-top: 3%;
  margin-right: -15%;
}
.username{
  margin-right: 10%;
  padding-top: 2%;
  
}
.dodajKorisnika{
  padding-top: 5%;
  justify-content: space-between;
}
.dokumenti{
  width: 50px;
  height: 50px;
}
.scroll {
  width: 600px;
  height: 60vh;
  overflow-y: auto;
  padding: 20px;
  left: 25%;
}
.naziv{
  width: 70%!important;
}
.content{
  padding-bottom: 2%;
  display: flex;
}
.rightSide{
  width: 45%!important;
  height: 70vh;
  margin-right: 0%!important;
}
.leftSide{
  width: 30%!important;
}
.desnoo{
  width: 90%!important;
}
.cijena{
  margin-right: auto!important;
  width: max-content!important;
}
.btn-dodaj{
  float: inline-end!important;
  margin-right: 0 !important;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
